<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>{{ class_name }}</h1>
    <h2>class Info</h2>

    {% for class_info in class_data %}
        <p>{{ class_info }}</p>
    {% endfor %}
    <h2>Methods</h2>
    <table class="table table-border">
        <thead>
            <th scope="col">Methods name</th>
            <th scope="col">Methods parameters</th>
            <th scope="col">Methods return type</th>
        </thead>
        <tbody>
            {% for method in methods %}
                <tr>
                    <td>{{ method.name }}</td>
                    <td>
                        {% for argument in method.arguments %}
                            <ul>
                                <li>Name: {{ argument.name }}</li>
                                <li>Type: {{ argument.type }}</li>
                            </ul>
                        {% endfor %}
                    </td>
                    <td>{{ method.return_type }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>